body{
    font-family: 'Poppins', sans-serif;
    padding: 50px;
    
}

.title{
    font-size: 50px;
    color: indigo;
}

section{
    display: flex;
}

section span{
    color: red;
}

.section-one{
    width: 50%;
}

.section-one img{
    
}

.link-button{
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 8px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 400;
}