body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

.title{
    font-size: 50px;
    color: indigo;
}

.flexsection{
    display: flex;
    padding: 20px;
}

section span{
    color: red;
}

.section-one{
    width: 50%;
    padding: 50px;
}

.section-one img{
    
}

.link-button{
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 8px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 400;
}

.top-banner{
    background-image: url(/assets/img/top-banner.png);
    background-repeat: no-repeat;

}

..dream-big{
    padding: 50px;
    display: flex;
}

.dream-big h3{
    color: red;
}

.img-red{
    padding: 50px;
}

.lexbaba{
    width: 50px;
}

.character h1{
    color: salmon;
}
.character p{
color: sandybrown;
}